<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="css/ui-box.css">
        <link rel="stylesheet" href="css/ui-base.css">
        <link rel="stylesheet" href="css/ui-color.css">
        <link rel="stylesheet" href="css/appcan.icon.css">
        <link rel="stylesheet" href="css/appcan.control.css">
        <link rel="stylesheet" href="css/scss/login.css">
    </head>
    <body id="body_login" class="um-vp" ontouchstart>
        <div class="ub ub-img logo_img"></div>
        <div class="form_part" id="form">
            <div class="uinput ub ub-f1 user_pwd_mar">
                <div class="ub ub-ac ub-pc user_img_part">
                    <div class="ub-img user_img"></div>
                </div>
                <input placeholder="zhc19910717" type="text" class="ub-f1" v-model="username">
                <div class="ub ub-ac ub-pc">
                    <div class="ub-img del_img"></div>
                </div>
            </div>
            <div class="uinput ub ub-f1">
                <div class="ub ub-ac ub-pc pwd_img_part">
                    <div class="ub-img pwd_img"></div>
                </div>
                <input placeholder="xxxxxx" type="password" class="ub-f1" v-model="password">
                <div class="ub ub-ac ub-pc">
                    <div class="ub-img del_img"></div>
                </div>
            </div>
            <div class="ub ub-ac ub-pc login_btn"  id="btn" v-on:click="login()">
            	登录
            </div>

        </div>
    </body>
    <script src="js/appcan.js"></script>
    <script src="js/appcan.control.js"></script>
    <script src="js/vue.js"></script>
    </body>
    <script>
        appcan.ready(function() {
            var login = new Vue({
              el: '#form',
              data: {
                username:"",
                password:""
              },
              // 在 `methods` 对象中定义方法
              methods: {
                login: function (event) {
                    var request_data = {
                        username:this.username,
                        password:this.password
                    }
                  // `this` 在方法里指当前 Vue 实例
                  appcan.request.ajax({
                    url: "http://114.215.242.163:9999/mvvm/login",
                    type: "POST",
                    data: {
                        username:this.username,
                        password:this.password
                    },
                    dataType: "",
                    contentType: "application/x-www-form-urlencoded",
                    success: function(data) {
                        debugger
                        alert(data);
                    },
                    error: function(e, err) {
                        debugger;
                    }
                });
                }
              }
            })

        });

       
 </script>
</html>
